/*.bg-coolklima {*/
    /*background-color: #3c3a3d;*/
    /*color: #333;*/
/*}*/

/*a.nav-link.active {*/
    /*margin: -0.5rem 0rem -0.5rem 0rem;*/
    /*padding: 1rem;*/
    /*background-color: #fff;*/
    /*background-image: linear-gradient(to bottom,#999,#bbb 100%);*/
/*}*/
 
table.v-table tbody td {
    font-size: 15px;
}

table.v-table thead th {
    font-size: 14px;
}

.v-toolbar__title {
    font-size: 22px;
}

.nav-link {
    font-size: 16px;
}

div.smaller div table.v-table tbody td,  
div.smaller div table.v-table tbody th {
    font-size: 80%;
}

.handle {
    cursor: move !important;
    cursor: -webkit-grabbing !important;
}